

@main("", true) {

<div class="grid_8 openIdPanel">

    <!-- Simple OpenID Selector -->
    @helper.form(action = routes.Application.loginPost(), 'id -> "openid_form") {

    <input type="hidden" name="action" value="verify"/>

    <fieldset>
        <legend>Acc&egrave;s priv&eacute;</legend>
        <div id="openid_choice">

            <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
            <input id="openid_identifier" name="openid_identifier" type="text" value="http://"/>
            <input id="openid_submit" type="submit" value="Sign-In"/>
        </div>
        <noscript>
            <p>OpenID is service that allows you to log-on to many different websites using a single indentity.
                Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how
                    to get an OpenID enabled account</a>.</p>
        </noscript>
    </fieldset>
</div>


}
}