@(post: Post, loggedin : Boolean = false)

@import utils.TextileHelper._
@import play.api.data.format.Formats._
@import java.text.SimpleDateFormat


@main(post.title, loggedin) {


    <ul class="breadcrumb">
        <li><a href="@routes.Application.index(0)">Accueil</a> <span class="divider">/</span>@post.title</li>
    </ul>

<h2>@post.title
@if(!loggedin) {
<a href="@routes.Administration.edit(post.id.get)" title="edit"><button class="btn btn-mini btn-primary"><i class="icon-white icon-pencil">&#160;</i></button></a>
}
</h2>
<hr/>
@{"%,d".format(post.hits.get)} HITS | le  @{new java.text.SimpleDateFormat("dd/MM/yyyy").format(post.postedAt)}


<p>
    @Html(toHtml(post.chapeau))
</p>


<p>
    @Html(toHtml(post.content))
</p>



    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'damiengouyettesblog';
    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


    }












