@(post: Post, loggedin : Boolean = false)

@import utils.TextileHelper._
@import play.api.data.format.Formats._
@import java.text.SimpleDateFormat


@main(post.title, loggedin) {


<h2>@post.title
@if(!loggedin) {
<a href="@routes.Administration.edit(post.id.get)" title="edit"><button class="btn btn-mini btn-primary"><i class="icon-white icon-pencil">&#160;</i></button></a>
}
</h2>
<hr/>
@post.hits HITS | le @post.postedAt


<p>
    @Html(toHtml(post.chapeau))
</p>


<p>
    @Html(toHtml(post.content))
</p>

}












